*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/*contenedorPrincipal*************************************************************************************************************************/
.contenedorPrincipal{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.tarjetaContenedora{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(78, 25, 78);
  padding: 10px;
  border-radius: 8px;
}
.contenedorBotones{
  margin-top: -20px;
  height: 200px;
  width: 50vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.link {
  text-decoration: none;
  border: none; 
  color: black; 
  padding: 14px 28px; 
  cursor: pointer; 
  border-radius: 5px;
  background-color: rgba(0, 183, 255, 0.281); border: 2px solid #007bff;
}
.link:hover{
  background: #0b7dda; color: white;
}/*crear tarea*************************************************************************************************************************/

.inputTarea{
  background-color: #242424;
  padding: 4px;
  margin-right: 5px;
  border: none;
  border-bottom: #000 solid 1px;
}
.inputTarea::placeholder{
  color: #969696;
}
.botonCrearTarea{
  background-color: #107907;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 10px;
  font-size: 16px;
}


/*registro y login*************************************************************************************************************************/
.contenedorRegistro{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
}
.formularioRegistro{
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.formularioRegistro h1{
  color: white;
  font-size: 36px;
  margin-bottom: 1%;
}
.formulario{
  width: 50%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  
}
.formularioRegistro input{
  color: black;
  margin: 1%;
  border-radius: 10px;
  width: 80%;
  padding: 1%;
  padding-left: 20%;
  border: solid 3px #0c70f3;
  background-color: #e0dada;
}
input::placeholder{
  color: #000;
}
.formulario button{
  border: none;
  width: 50%;
  padding: 1%;
  border-radius: 15px;
  font-size:17px;
  font-weight: 700;
  color: white;
  background-color: #007bff;
}
.formularioRegistro a{
  margin: 1%;
  text-decoration: none;
  font-weight: 700;
  color: white;
}

/*tareas*************************************************************************************************************************/

.tarjetaTarea{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
}

.paginaTareas{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  background-color: #242424;
  color: white;
}
.cabeceraTareas{
  margin: 1%;
  width: 96%;
  display: flex;
  justify-content: space-between;
}
.mostrarTareas{
  width: 100%;
  height: 500px;
  border: #000 solid 1px;
}
.tarea {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  
}
.tareaAgregada{
  width: 100%;
  margin-top: 5px;
  border-radius: 6px;
  padding: 5px;
}
.acciones{
  display: flex;
  justify-content: end;
  width: 100%;
  height: 55px;
  padding: 10px;
}
.acciones button {
  margin-left: 5px;
  background-color: green;
  border: none;
  border-radius: 4px;
  padding: 6px;
  cursor: pointer;
}
.acciones button:hover{
  background-color: rgb(3, 73, 3);
}
/*tareas*************************************************************************************************************************/
