*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/*contenedorPrincipal*************************************************************************************************************************/
.contenedorPrincipal{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contenedorBotones{
  height: 200px;
  width: 50vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.link {
  text-decoration: none;
  border: none; 
  color: black; 
  padding: 14px 28px; 
  cursor: pointer; 
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0); border: 2px solid #007bff;
}
.link:hover{
  background: #0b7dda; color: white;
}
/*registro*************************************************************************************************************************/
.contenedorRegistro{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
}
.formularioRegistro{
  width: 100%;
  height: 50%;
  /* border: solid 1px #000; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.formularioRegistro h1{
  color: white;
  font-size: 36px;
  margin-bottom: 1%;
}
.formulario{
  width: 50%;
  height: 50%;
  /* border: solid 1px #000; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  
}
.formularioRegistro input{
  margin: 1%;
  border-radius: 10px;
  width: 80%;
  padding: 1%;
  padding-left: 20%;
  border: solid 3px #0c70f3;
  background-color: #e0dada;
}
input::placeholder{
  color: #000;
}
.formulario button{
  border: none;
  width: 50%;
  padding: 1%;
  border-radius: 15px;
  font-size:17px;
  font-weight: 700;
  color: white;
  background-color: #007bff;
}
.formularioRegistro a{
  margin: 1%;
  text-decoration: none;
  font-weight: 700;
  color: white;
}

/*login*************************************************************************************************************************/

